
#SidebarFlex {
    display: flex;
    flex-direction: column;
    width: 260px;          
    margin-right: 20px;   
}

#tooltip-box {
    margin-top: 20px;          
    padding: 14px;            
    background: #fafafa;       
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: "Inter", "Segoe UI", sans-serif;  
    font-size: 15px;           
    line-height: 1.5;          
    color: #333;
    display: none;             
}



.node:hover {
    stroke: black;
    stroke-width: 3px;
}


.phase_btn {
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 75px;
}

.phase_btn:hover {
    cursor: pointer;
    background-color: #00b3b3;
}

.phase_btn.selected {
    background-color: #00b3b3;
    border: 2px solid #006666;
    color: white;
  }

#mainFlexBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 1000px;
    width: 1400px;
}

#button-box {
    position: relative;
    transform:translate(0px, 40px);
    margin-bottom: 20px; 
    height: 250px;
    overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
}